@model BibliotecaMvc.Models.ColecaoLivrosMvc
@{
    ViewBag.Title = "Editar Livro";
}
@if (@TempData["Mensagem"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["Mensagem"]</div>
}
<!--Configuração para exibir mensagem de erro -->
@if (@TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["MensagemErro"]</div>
}
<h2>Editar dados do Livro</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.Id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Id, new
                    {
                        htmlAttributes = new
                        {
                            @class = "formcontrol",
                            @readonly =
                         "readonly"
                        }
                    })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NomedoLivro, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.NomedoLivro, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Autor, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Autor, new { htmlAttributes = new { @class = "form-control" } })
                </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Genero, htmlAttributes: new { @class = "control-label col-md-2" }) <div class="col-md-6">
                @Html.EditorFor(model => model.Genero, new { htmlAttributes = new { @class = "form-control" } }) </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DataLivro, htmlAttributes: new { @class = "control-label col-md-2" }) <div
                class="col-md-6">
                @Html.EditorFor(model => model.DataLivro, new { htmlAttributes = new { @class = "form-control" } }) </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.preco, htmlAttributes: new { @class = "control-label col-md-2" }) <div
                class="col-md-6">
                @Html.EditorFor(model => model.preco, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Disponibilidade, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.DropDownListFor(model => model.Disponibilidade, Html.GetEnumSelectList(typeof(BibliotecaMvc.Models.Enuns.DisponibilidadeEnum)),
                         "---Selecione---", new { @class = "form-control" })
            </div>
        </div>

        <hr />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-6">
                <input type="submit" value="Salvar alterações" class="btn btn-success" />
            </div>
        </div>
    </div>
    <br/>
}
<div>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" }) 
    @Html.ActionLink("Retornar", "Index", "ColecaoLivros", null, new { @class = "btn btn-warning" })
</div>
